//----------------------------------------------//
// *Media Queries								//
//----------------------------------------------//
$bp_tab: 1024px; //tab
$bp_sp: 767px; //sp

@mixin mq($device,$val:null,$val2:null) {
	@if $device == pc {
	//pc
		@media only screen and (min-width: $bp_tab + 1){@content;}
		@media print {@content;}
		.ie8 & {@content;}
	}@else if $device == tab {
	//tab
		@media only screen and (min-width: $bp_sp + 1) and (max-width: $bp_tab){@content;}
	}@else if $device == tab_l {
	//tab_l
		@media only screen and (min-width: ($bp_tab - $bp_sp) / 2 + $bp_sp + 1) and (max-width: $bp_tab){@content;}
	}@else if $device == tab_s {
	//tab_s
		@media only screen and (min-width: $bp_sp + 1) and (max-width: ($bp_tab - $bp_sp) / 2 + $bp_sp){@content;}
	}@else if $device == sp {
	//sp
		@media only screen and (max-width: $bp_sp){@content;}
	}@else if $device == sp_l {
	//sp_l
		@media only screen and (min-width: ($bp_sp - 320) / 2 + 320+ 1) and (max-width: $bp_sp){@content;}
	}@else if $device == sp_s {
	//sp_s
		@media only screen and (max-width: ($bp_sp - 320) / 2 + 320){@content;}
	}@else if $device == pc_tab {
	//pc & tab
		@media only screen and (min-width: $bp_sp + 1){@content;}
		@media print {@content;}
		.ie8 & {@content;}
	}@else if $device == tab_sp {
	//tab & sp
		@media only screen and (max-width: $bp_tab){@content;}
	}@else if $device == min_w {
	//max-width
		@media only screen and (min-width: $val){@content;}
		@media print {@content;}
		.ie8 & {@content;}
	}@else if $device == max_w {
	//min-width
		@media only screen and (max-width: $val){@content;}
		@if $val > $bp_tab {
			@media print {@content;}
			.ie8 & {@content;}
		}
	}@else if $device == min_max_w {
	//min-width ~ max-width
		@media only screen and (min-width: $val) and (max-width: $val2){@content;}
		@if $val2 > $bp_tab {
			@media print {@content;}
			.ie8 & {@content;}
		}
	}@else if $device == min_h {
	//max-height
		@media only screen and (min-height: $val){@content;}
	}@else if $device == max_h {
	//min-height
		@media only screen and (max-height: $val){@content;}
	}@else if $device == min_max_h {
	//min-height ~ max-height
		@media only screen and (min-height: $val) and (max-height: $val2){@content;}
	}
}


// @include fsz(Arbitrary size, size of parent element); ※px unnecessary
$baseSize: 16;

@mixin fsz($size:$baseSize,$parent:null){
	$i: $size * (100 / $baseSize);
	@if $parent == null {
		font-size: ceil($i * 1%);
	}@else {
		font-size: ceil(100% * ($size / $parent));
	}
}

//Font size setting
@mixin fsz-cha($pc_fsz:30,$tab_fsz:30,$sp_fsz:17) {
	@include fsz($pc_fsz);
	@include mq(tab) {
		@include fsz($tab_fsz);
	}
	@include mq(sp) {
		@include fsz($sp_fsz);
	}
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin transit() {
	transition: all .3s ease;
}

@mixin tm-icon($icon) {
    content: $icon;
    @extend %tm-icon;
}
