%transit {
    @include transit;
    &-sm {

        @include media-breakpoint-up(sm) {

            @include transit();
        }
    }
    &-md {

        @include media-breakpoint-up(md) {

            @include transit();
        }
    }
    &-lg {

        @include media-breakpoint-up(lg) {

            @include transit();
        }
    }
}

%tm-icon {
   font-family: 'tomochain';
   font-weight: normal;
   font-style: normal;
   display: inline-block;
   text-decoration: inherit;
   line-height: 1;
}