// Text color setting
$color-link-default: #675C51;
$color-link-default-active: #675C51;
$color-text-default: #6B6B6B;
$color-text-gray: #464555;
$color-text-white: #ffffff;
$color-text-oranges: #141414;
$color-text-blue: #675C51;
$color-text-violet: #141414;
$color-text-yellow: #ffaf01;

$color-sig: #141414;
$color-border-default: #AFA9A1;


.text-gray {
    color: $color-text-gray;
}
.text-white {
    color: $color-text-white;
}
.text-oranges {
    color: $color-text-oranges;
}
.text-blue {
    color: $color-text-blue;
}
.text-violet {
    color: $color-text-violet;
}
.text-yellow {
    color: $color-text-yellow;
}

//background color setting
$background-default: #E0DED8;
$background-transparent: transparent;
$background-white: #ffffff;
$background-oranges: #141414;
$background-blue: #766B60;
$background-blue-active: #766B60;
$background-violet: #766B60;
$background-violet-active: #766B60;

$background-primary: #EBE9E5;




