
// Page creat token
.tomo-apply {
    .about-tomoz {
        margin: 3em 0!important;
        @include media-breakpoint-down(md){
            margin: 1.5em 0!important;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .box-condition {
        margin-bottom: 2em;
        img {
            width: 56px;
        }
        .col-6 {
            margin-top: 2em;
        }
    }
    .tm-icon-tomoz-new {
        @include fsz-cha(70,50,50);
        color: $color-text-violet;
    }
    .tm-icon-tomox-new {
        @include fsz-cha(70,50,50);
        color: $color-text-blue;
    }
}

.tm-icon-plus {
    margin-left: 12px;
    margin-right: -5px;
}
.issue-text {
    font-weight: 600;
    width: 125px;
}

// Pge confirm

.apply-tomo-x {
    .box-step {
        position: relative;
        @include media-breakpoint-down(sm){
            padding-top: 15px;
            padding-bottom: 15px;
        }
        &::after {
            background-image: linear-gradient(to right, transparent 50%, #00bad1 50%);
            background-size: 15px 100%;
            content: '';
            width: 80px;
            height: 1px;
            position: absolute;
            top: 30%;
            left: calc(100% - 40px);
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
        i {
            @include fsz-cha(80,80,50);
            color: $color-text-blue;
        }
        span {
            background: $color-text-blue;
            border-radius: 50%;
            border: 7px solid rgba(white, 0.5);
            display: flex;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            color: $color-text-white;
            box-sizing: content-box;
            position: relative;
            &::before {
                background: rgba($color-text-blue, 0.2);
                border-radius: 50%;
                content: '';
                width: 70px;
                height: 70px;
                position: absolute;
                z-index: -1;
            }
        }
        &:last-child {
            span {
                &::after {
                    display: none;
                }
            }
        }
    }
}
