.tomo-footer {
    @include fsz(15);
    padding: 2em 0;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
    .row {
        align-items: flex-end;
    }
    .tomo-copyright {
    }
    .tomo-meta-links {
        padding-top: 15px;
        ul {
            @include media-breakpoint-down(md) {
                margin: 0 -10px;
            }
            li {
                display: inline-block;
                padding: 0px 25px;
                position: relative;
                @include media-breakpoint-down(md) {
                    padding: 2px 10px;
                }
                &::after {
                    content: "";
                    background: $color-text-gray;
                    width: 1px;
                    height: 15px;
                    position: absolute;
                    right: 0;
                    margin-top: 4px;
                    @include media-breakpoint-down(md) {
                        height: 12px;
                        margin-top: 5px;
                    }
                }
                &:first-child {
                    @include media-breakpoint-up(lg) {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    @include media-breakpoint-up(lg) {
                        padding-right: 0;
                    }
                    &::after {
                        display: none;
                    }
                }
                a {
                    color: $color-text-gray;
                    &:hover {
                        color: $color-text-violet;
                    }
                }
            }
        }
    }//tomo-meta-links
    .tomo-social {
        padding-top: 15px;
        ul {
            text-align: right;
            @include media-breakpoint-down(md) {
                text-align: center;
            }
            li {
                display: inline-block;
                padding: 3px;
                a {
                    background: $background-white;
                    border-radius: $boderradius-default;
                    box-shadow: $boxshadow-default;
                    color: $color-text-gray;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    i {
                        @include transit();
                        opacity: .2;
                    }
                    &:hover {
                        i {
                            opacity: 1;;
                        }
                    }
                }
            }
        }
    }//tomo-social
}