// Style CSS Header
.tomo-header {
    box-shadow: $boxshadow-default;
    .navbar-nav {
        align-items: center;
        li {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}