.tomo-loading {
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    &:before {
        content: url(/app/assets/images/loading.svg);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);
        z-index: 99;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1d1e31;
        opacity: .6;
        z-index: 9;
    }
}
