// Common apply global
.common-main-content,
.welcom-tomoissuer  {
    padding: 2em 0;
    min-height: calc(100vh - 62px - 106px);
    @include media-breakpoint-only(md) {
        min-height: calc(100vh - 62px - 133px);
        padding: 1.5em 0;
    }
    @include media-breakpoint-down(sm) {
        min-height: calc(100vh - 62px - 184px);
        padding: 1.5em 0;
    }
}
.common_height_max {
	height: 100%;
}
.common_txt_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

//common_tmp_page
.common_tmp_page {
    ul {
        li.page-item {
            padding: 10px;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-last-child(1),
            &:nth-last-child(2) {
                a,
                span {
                    @include fsz(26);
                    padding-bottom: 15px;

                }
            }
            a,
            span {
                background: transparent;
                border: 0;
                border-radius: 50%!important;
                color: $color-text-gray;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                padding: 10px;
            }
            &.disabled {
                a,
                span {
                    background: transparent;
                    opacity: .5;
                }
            }
            &.active {
                a {
                    background: $background-white;
                    color: $color-text-gray;
                    box-shadow: 0 10px 20px 0 rgba(23, 21, 48, 0.02);
                }
            }
        }
    }
}

//btn-box
.btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    margin: 0 -10px;
    a {
        margin: 10px;
    }
}