// Page creat token
.newtoken {
    .form-new-token {
        margin-top: 30px;
    }
    .form-group {
        &.flex-box {
            label {
                margin: 0 25px 0 0;
                font-weight: 500;
                min-width: 110px;
            }
        }
    }
    .flex-box {
        display: flex;
        align-items: center;
        &.custom-radio {
            display: flex;
            align-items: center;
            label {
                margin-bottom: 0;
                line-height: 1.8;
            }
        }
        .box-radio {
            display: flex;
            align-items: center;
            label {
                padding: 2px 0;
            }
        }
    }
}

.box-info-token {
    text-align: center;
    display: flex;
    justify-content: space-between;
    .form-group {
        display: inline-block;
        label {
            display: block;
            font-weight: bold;
        }
    }
    @media screen and (max-width: 767px) {
        display: block;
        .form-group {
            display: flex;
            justify-content: space-between;
            text-align: left;
        }
    }
}