// Main page Token
.main-box-header {
    .tomo-btn {
        text-align: right;
        ul {
            li {
                display: inline-block;
                @include media-breakpoint-down (md) {
                    display: block;
                    margin-top: 1em;
                }
            }
        }
    }
    .apply-trc {
        background: $background-blue;
        @include fsz(14);
        border-radius: 30px;
        padding: 2px 10px;
        color: #fff;
        margin-left: 5px;
    }
    .apply-tomoz {
        background: $background-violet;
        @include fsz(14);
        border-radius: 30px;
        padding: 2px 10px;
        color: #fff;
        margin-left: 7px;
    }
}
.main-box-body {
    padding-top: 1em;
    .col-6,
    .col-12 {
        padding: 15px;
    }
    .box-item {
        background: #fff;
        border-radius: $boderradius-default;
        box-shadow: $boxshadow-default;
        padding: 1.2em;
        height: 100%;
        p {
            &:last-child {
                margin-bottom: 0;
            }
            &.fsz-size {
                @include fsz(24);
                font-weight: bold;
                letter-spacing: 2px;
                font-family: $font-baijam;
            }
        }
        .tomoissuer-icon-edit-pencil {
            @include fsz(12);
            margin-left: 10px;
        }
        .flex-box {
            display: flex;
            span {
                &:first-child {
                    width: 60%;
                    font-weight: normal;
                }
                a {
                    padding-right: 20px;
                    position: relative;
                    &::before {
                        content: "\e910";
                        position: absolute;
                        right: 2px;
                        top: 4px;
                        font-family: tomoissuer;
                        @include fsz(10);
                        @extend %transit;
                    }
                    &:hover {
                        &::before {
                            right: -5px;
                        }
                    }
                }
            }
        }
        ul {
            padding: 0 0 0 1.2em;
            li {
                list-style: disc;
                margin-bottom: 1em;
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: .2em;
                    &:last-child {
                        font-weight: normal;
                    }
                    a {
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .nav-tabs {
		border: 0;
		li {
			padding-right: 3em;
			&:last-child {
				padding-right: 0;
			}
			.nav-link {
				background: transparent;
				border: 0;
				color: $color-text-gray;
				padding: .5em 0;
				&.active {
					font-weight: bold;
				}
			}
		}
	}
}