// Main page Token
.main-box-header {
    .tomo-btn {
        text-align: right;
        >ul {
            >li {
                display: inline-block;
                @include media-breakpoint-down (md) {
                    display: block;
                    margin-top: 1em;
                }
                .btn-group .btn-link {
                    border-radius: $boderradius-default;
                    box-shadow: $boxshadow-default;
                    margin-left: 30px;
                    display: flex;
                    align-items: center;
                    color: $color-text-gray;
                    .tm-icon-angle-down {
                        @include fsz(10);
                        margin-left: 10px;
                    }
                }
                ul {
                    border: 0;
                    margin: 0;
                    padding: 0;
                    min-width: max-content;
                    margin-top: 10px;
                    width: 100%;
                    @include fsz(16);
                    @include media-breakpoint-up(lg) {
                        border-radius: $boderradius-default;
                        box-shadow: $boxshadow-default;
                        padding: 1.5em 0;
                    }
                    li {
                        margin: 0;
                        padding: .5em 0;
                    }
                }
            }
        }
    }
    .apply-trc {
        background: $background-blue;
        @include fsz(14);
        border-radius: 30px;
        padding: 2px 10px;
        color: #fff;
        margin-left: 5px;
    }
    .apply-tomoz {
        background: $background-violet;
        @include fsz(14);
        border-radius: 30px;
        padding: 2px 10px;
        color: #fff;
        margin-left: 7px;
    }
}
.main-box-body {
    padding-top: 1em;
    .col-6,
    .col-12 {
        padding: 15px;
    }
    .box-item {
        background: #fff;
        border-radius: $boderradius-default;
        box-shadow: $boxshadow-default;
        padding: 1.2em;
        height: 100%;
        p {
            &:last-child {
                margin-bottom: 0;
            }
            &.fsz-size {
                @include fsz(24);
                font-weight: bold;
                letter-spacing: 2px;
                font-family: $font-baijam;
            }
        }
        .tm-icon-edit-pencil {
            @include fsz(12);
            margin-left: 10px;
        }
        .flex-box {
            display: flex;
            span {
                &:first-child {
                    width: 60%;
                    font-weight: normal;
                }
                a {
                    padding-right: 20px;
                    position: relative;
                    @include media-breakpoint-down(lg) {
                        display: table-caption;
                    }
                    &::before {
                        content: "\e910";
                        position: absolute;
                        right: 2px;
                        top: 4px;
                        font-family: tomoissuer;
                        @include fsz(10);
                        @extend %transit;
                    }
                    &:hover {
                        &::before {
                            right: -5px;
                        }
                    }
                }
            }
        }
        ul {
            padding: 0 0 0 1.2em;
            li {
                list-style: disc;
                margin-bottom: 1em;
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: .2em;
                    &:last-child {
                        font-weight: normal;
                    }
                    a {
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .nav-tabs {
		border: 0;
		li {
			padding-right: 3em;
			&:last-child {
				padding-right: 0;
			}
			.nav-link {
				background: transparent;
				border: 0;
				color: $color-text-gray;
				padding: .5em 0;
				&.active {
					font-weight: bold;
				}
			}
		}
	}
}

.token-logo {
	border-radius: 50%;
    border: 2px solid #f2f2f2;
    color: #fff;
	overflow: hidden;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
    align-items: center;
}
.mb-sp-4 {
    @include media-breakpoint-down(sm) {
        margin-bottom: 1.5em ;
    }
}
#transfer_table tr {
    &:nth-child(1) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #1ABC9C;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(2) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #F1C40F;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(3) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #F39C12;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(4) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #D35400;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(5) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #3498DB;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(6) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #8E44AD;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(7) {
        td {
            &:first-child {
                .token-logo {
                    background-color: #9BA37E;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(8) {
        td {
            &:first-child {
                .token-logo {
                    background-color: red;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(8) {
        td {
            &:first-child {
                .token-logo {
                    background-color: blue;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
    &:nth-child(10) {
        td {
            &:first-child {
                .token-logo {
                    background-color: yellow;
                }
                .set-logo {
                    background-color: transparent;
                }
            }
        }
    }
}

.review-logo {
    // height: 50% !important;
    max-width: 20% !important;
    @include media-breakpoint-down (sm) {
        height: 50% !important;
        width: 50% !important;
    }
}