.welcom-tomoissuer  {
    display: flex;
    padding: 3em 0 2em;
    min-height: calc(100vh - 106px);
    @include media-breakpoint-only(md) {
        min-height: calc(100vh - 133px);
        padding: 2em 0;
    }
    @include media-breakpoint-down(sm) {
        min-height: calc(100vh - 184px);
        padding: 2em 0;
    }
}
// animation
@keyframes anZoom {
    0% {
        transform: scale(.5);
        background-color: #ffa500;
        opacity: .1;
    }
    50% {
        background-color: #01C5DE;
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        background-color: yellow;
        opacity: 0;
    }
}
.ani_bg_element_one {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: red;
    animation-name: anZoom;
    animation-duration: 5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

//**


@keyframes blue-circle-anim-x {
50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(44px);
    }
}
@keyframes blue-circle-anim-y {
50% {
    animation-timing-function: cubic-bezier(0.55, 0, 0.2, 1);
        transform: translateY(17px);
    }
}
@keyframes green-rectangle-anim {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes red-triangle-anim {
50% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(25px) rotate(-53deg);
    }
}
@keyframes yellow-semicircle-anim {
40% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(40px) rotate(-1deg);
    }
}
@keyframes grey-rounded-rectangle-anim {
    65% {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(-48px) rotate(-75deg);
    }
}

.animation_bg {
    height: 100%;
    left: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
    img,
    span {
        position: absolute;
        display: block;
    }
}
#blue-circle-container {
    animation: blue-circle-anim-x 9s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    left: calc(13% - 50px);
    top: calc(18% - 26px);
}
#blue-circle-container::after {
    background: url('/app/assets/images/blue_circle.svg') no-repeat top left;
    animation: blue-circle-anim-y 9s cubic-bezier(0.25, 0, 0.2, 1) infinite;
    content: ' ';
    height: 43px;
    position: absolute;
    width: 43px;
}
#yellow-dots {
    background: url('/app/assets/images/yellow_dots.svg') no-repeat top left;
    background-color: var(--navi-shape-yellow-dots-color);
    content: ' ';
    height: 57px;
    left: 13%;
    top: 18%;
    width: 76px;
}
#grey-rounded-rectangle {
    background: url('/app/assets/images/grey_rounded_rectangle.svg') no-repeat top left;
    animation: grey-rounded-rectangle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    background-color: var(--navi-shape-grey-color);
    content: ' ';
    height: 132px;
    left: -42px;
    top: 45%;
    width: 132px;
    @include media-breakpoint-down (md) {
        height: 80px;
        left: -42px;
        top: 45%;
        width: 80px;
    }
}
#red-triangle {
    background: url('/app/assets/images/red_triangle.svg') no-repeat bottom left;
    animation: red-triangle-anim 9.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    background-color: var(--navi-shape-red-color);
    content: ' ';
    bottom: 15%;
    height: 74px;
    left: 12%;
    width: 65px;
    @include media-breakpoint-down (md) {
        bottom: 10%;
        height: 50px;
        left: 2%;
        width: 30px;
    }
}
#yellow-semicircle {
    background: url('/app/assets/images/yellow_semicircle.svg') no-repeat top right;
    animation: yellow-semicircle-anim 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    background-color: var(--navi-shape-yellow-semicircle-color);
    content: ' ';
    transform: rotate(-7deg);
    height: 171px;
    right: 28.5%;
    top: -50px;
    width: 211px;
    @include media-breakpoint-down (md) {
        height: 100px;
        right: 15%;
        top: -10px;
        width: 100px;
    }
}
#green-rectangle {
    background: url('/app/assets/images/green_rectangle.svg') no-repeat bottom right;
    animation: green-rectangle-anim 40s infinite linear;
    background-color: var(--navi-shape-green-color);
    content: ' ';
    bottom: 8%;
    height: 371px;
    right: -255px;
    width: 371px;
    @include media-breakpoint-down (md) {
        bottom: 15%;
        height: 120px;
        right: -80px;
        width: 120px;
    }
}
#grey-oval {
    background: url('/app/assets/images/grey_oval.svg') no-repeat bottom right;
    background-color: var(--navi-shape-grey-color);
    content: ' ';
    bottom: calc(8% + 24px);
    height: 100px;
    mix-blend-mode: multiply;
    right: 48px;
    width: 100px;
    @include media-breakpoint-down (md) {
        bottom: calc(20% + 24px);
        height: 50px;
        right: 15px;
        width: 50px;
    }
}

// Main Content
.welcom-tomoissuer {
    .page-welcome {
        display: flex;
        align-items: center;
        width: 100%;
        .step-login {
            text-align: center;
        }
    }
}
.link-login {
    margin-top: 0.5em;
    a {
        color: $color-text-blue !important;
    }
}
.tomo-logo {
    width: 20%;
    @include media-breakpoint-down(md) {
        width: 30% !important;
    }
    @include media-breakpoint-down(sm) {
        width: 45% !important;
    }
}