button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include fsz(14);
	border: 0px;
	border-radius: 50%;
	padding: .6em 1em;

	&:active,
	&:focus {
		outline: none;
	}
}
button {
    overflow: hidden;
}

// Begin style button

// Style to link
.tmp-btn-blue {
    a {
        @include transit;
        background: $background-blue;
        border: 2px solid $background-blue;
        color: $color-text-white!important;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3em 1.2em!important;
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        .active {
            background: $background-blue-active;
        }
    }
}
.tmp-btn-violet {
    a {
        @include transit;
        background: $background-violet;
        border: 2px solid $background-violet;
        color: $color-text-white!important;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 220px;
        @include media-breakpoint-down(sm) {
            min-width: 180px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        &.active {
            background: $background-violet-active;
        }
    }
}

// Style on link
a,
button,
input {
    &.tmp-btn-blue {
        @include transit;
        background: $background-blue;
        border: 2px solid $background-blue;
        color: $color-text-white!important;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3em 1.2em!important;
        font-weight: 500;
        min-width: 220px;
        @include media-breakpoint-down(sm) {
            min-width: 180px;
        }
        @include fsz(18);
        &.btn-min {
            min-width: 100px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        .active {
            background: $background-blue-active;
            border: 2px solid $background-blue;
        }
    }
    &.tmp-btn-boder-blue {
        @include transit;
        background: transparent;
        border: 2px solid $background-blue;
        color: $color-text-blue!important;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3em 1.2em!important;
        font-weight: 500;
        min-width: 220px;
        @include media-breakpoint-down(sm) {
            min-width: 180px;
        }
        @include fsz(18);
        &.btn-min {
            min-width: 100px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        .active {
            background: $background-blue-active;
            border: 2px solid $background-blue;
            color: $color-text-white!important;
        }
    }
    &.tmp-btn-search {
        @include transit;
        background: $background-blue;
        border: 2px solid $background-blue;
        color: $color-text-white!important;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3em 1.2em!important;
        font-weight: 500;
        @include fsz(18);
        &.btn-min {
            min-width: 100px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        .active {
            background: $background-blue-active;
            border: 2px solid $background-blue;
        }
    }
}
a,
button,
input {
    &.tmp-btn-violet {
        @include transit;
        background: $background-violet;
        border: 2px solid $background-violet;
        color: $color-text-white!important;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em 1.2em!important;
        font-weight: 500;
        min-width: 220px;
        line-height: 1;
        @include media-breakpoint-down(sm) {
            min-width: 180px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        &.active {
            background: $background-violet-active;
            border: 2px solid $background-violet;
        }
    }
    &.tmp-btn-boder-violet {
        @include transit;
        background: transparent;
        border: 2px solid $background-violet;
        color: $color-text-violet!important;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5em 1.2em!important;
        font-weight: 500;
        min-width: 220px;
        line-height: 1;
        @include media-breakpoint-down(sm) {
            min-width: 180px;
        }
        &.btn-min {
            min-width: 100px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        .active {
            background: $background-violet-active;
            border: 2px solid $background-violet;
            color: $color-text-white!important;
        }
    }
}

.dropdown-class {
    button {
        @include transit;
        background: $background-blue;
        border: 2px solid $background-blue;
        color: $color-text-white!important;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .3em 1.2em!important;
        font-weight: 500;
        min-width: 220px;
        @include media-breakpoint-down(sm) {
            min-width: 180px;
        }
        @include fsz(18);
        &.btn-min {
            min-width: 100px;
        }
        i {
            padding-right: 5px;
            font-weight: bold;
        }
        &:hover,
        .active {
            background: $background-blue-active;
            border: 2px solid $background-blue;
        }
    }
    a {
        margin: 0 !important;
    }
}