.checkmark {
    display:inline-block !important;
    width: 18px;
    height:18px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute !important;
    width:18px;
    height:18px;
    background-color: $background-blue;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute !important;
    width:3px;
    height:9px;
    background-color:$background-white;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute !important;
    width:3px;
    height:3px;
    background-color: $background-white;
    left:8px;
    top:12px;
}