table,
.table {
	margin: 0;
	width: 100%;
	th,td {
		overflow: hidden;
		padding: 0.75rem;
	}
}

// teamplate table
.tmp-table-one {
	padding-top: 1em;
	.tomo_main_table {
		@include media-breakpoint-up(lg) {
			background: $background-white;
			border-radius: $boderradius-default;
			box-shadow: $boxshadow-default;
			padding: 1em;
		}
		tbody {
			@include media-breakpoint-only(md) {
				display: grid!important;
				grid-template-columns: 50% 50%;
				grid-column-gap: 20px;
				margin-right: 20px;
			}
		}
		tr {
			@include media-breakpoint-down(md) {
				background: $background-white;
				border-radius: $boderradius-default;
				box-shadow: $boxshadow-default;
				padding: 1em;
				margin-bottom: 15px;
				overflow: hidden;
			}
			th,td {
				border: 0;
				a {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					display: block;
				}
				&.table-sp-text-center {
					@include media-breakpoint-down(md) {
						text-align: center;
						float: left;
						width: 50%;
						padding-left: 2px;
						padding-right: 2px;
						div {
							padding: 0!important;
							width: 100%!important;
						}
					}
				}
			}
			.table-icon {
				@include fsz(10);
				color: $color-link-default;
				text-align: center;
				div {
					padding-top: 5px;
				}
			}
		}
		&.colum-5 {
			tr {
				@include media-breakpoint-up(lg) {
					display: grid;
					grid-template-columns: 32% 12% 20% 4% 20% 12%;
				}
			}
		}
		&.colum-4 {
			tr {
				@include media-breakpoint-up(lg) {
					display: grid;
					grid-template-columns: 10% 60% 15% 15%;
				}
			}
		}
	}
}